body{
	/*font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;*/

	/* shorthand: */
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin:0;
	background-color: #f4f4f4;
	width: auto;
	min-height: 200px;
	background-color:rgba(144, 191, 219,.9);
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
}


/*Global Styles*/

.container{
	width:80%;
	margin: auto;
	overflow: hidden;

}

ul{
	margin: 0;
	padding: 0;
}

.button_1{
	height: 38px;
	background: #000;
	border: 1px #ffffff solid;
	border-radius: 2px;
	padding-left: 20px;
	padding-right: 20px;
	color:#ffffff;
}
.button_1:hover{
	background-color: #ccc;
}

.dark{
	padding: 15px;
	background: #35424a;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*  WELCOME PAGE  */
	.index-welcome-link{
		text-decoration: none;
		font-style: none;
		color:#ffffff;
	}

	.index-welcome-link:hover{
		color: #ffffff;

	}



/*Header*/

header {
	background-color: none;
	color: #ffffff;
	padding-top: 15px;
	min-height: 50px;
	margin-bottom: 1em;

}

header a {
	color:#ffffff;
	font-weight: normal;
	text-decoration: none;
	/*text-transform: uppercase; */
	font-size: 16px;
}



header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;

}

header .branding h1{
	margin: 0;
	float: left;
	font-weight: normal;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .highlight, header .current a{
	color: #000000;
	font-weight: bold;
}

header a:hover{
	color: #cccccc;
	font-weight: bold;
}

/*Showcase*/

	/*MOVED TO BODY Styles */
	/*
.showcase.container{
	width: auto;
	min-height: 400px;
	background:url('../img/showcase.jpg') no-repeat 0 -100px;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
}
*/

.showcase.container h1 {
	margin-top: 200px;
	font-size: 55px;
	margin-bottom: 10px;
}

.showcase.container p {
	font-size: 20px;
}



/*Boxes*/

.boxes{
	margin-top: 20px;
}

.boxes .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

.boxes .box img{
	width: 90px;
}


/*Sidebar*/
aside.sidebar{
	float: right;
	width: 30%;
	margin-top: 0;
	border-radius: 5px;
}

.dark{
	border-radius: 5px;
}



aside.sidebar .quote input, aside.sidebar .quote textarea{
	width: 90%;
	padding:5px;
}

/*Main-Col*/
article.main-col{
	float: left;
	width: 60%;
	background-color: rgba(255,255,255,.4);
}




/*Services*/

ul.services li {

list-style: none;
padding: 20px;
border: #cccccc solid 1px;
margin-bottom: 5px;
background: #e6e6e6;
}



.quote button {
	width: 100%;
}


/*Newsletter*/

.newsletter{
	padding: 0px;
	color: #ffffff;
	background-color: rgba(53, 66, 74,.5);
	margin-top: 1em;
}

.newsletter h1{
	float: left;
}

.newsletter form{
	float: right;
	margin-top: 15px;
}

.newsletter input[type="email"] {
	padding: 4px;
	height:25px;
	width: 250px;
}




/*Footer*/

footer {
	padding: 0px;

	color: #ffffff;
	background-color: #ccc;
	text-align: left;
}

/*Media Queries*/

@media (max-width: 768px){
	header .branding h1,
	header nav,
	header nav li,
	.newsletter h1,
	.newsletter form,
	.boxes .box,
	article.main-col,
	aside.sidebar{
		float:none;
		text-align: center;
		width:100%;
	}

	header{
		padding-bottom: 20px;
	}

	.showcase.container h1{
		margin-top: 40px;
	}
	.newsletter button, .quote button{
		display: block;
		width:100%;
	}
	.newsletter form input[type="email"],.quote input, .quote textarea{
		width: 100%;
		margin-bottom: 5px;
	}

}
